/* ================== */
/* Google Fonts */
/* ================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* =============== */
/* CSS Reset */
/* =============== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* =================== */
/* CSS Variables */
/* =================== */
:root {
  /* Font families */
  --font-primary: "Poppins", serif;
  --font-secondary: "Roboto", serif;

  /* Flights */
  --flights-primary: #0052b5;
  --flights-secondary: #5997e0;

  /* Stays */
  --stays-primary: #63411c;
  --stays-secondary: #a05000;

  /* Car rentals */
  --cars-primary: #1d2836;
  --cars-secondary: #273545;

  /* Attractions */
  --attractions-primary: #4c6c0b;
  --attractions-secondary: #5c8900;

  /* Basics */
  --color-white: #fff;
  --color-black: #101010;
  --color-dark-1: #10141b;
  --color-dark-2: #202d3d;
  --color-brown: #543d25;
  --color-gray: #c4c4c4;
  --color-gray-light: #f5f5f5;
  --color-highlight: #ffa200;
  --color-flights-highlight: #ffa200;
  --color-hightlight-transparent: rgba(255, 162, 0, 0.7);
  --color-gray-transparent: rgba(245, 245, 245, 0.25);
  --color-dark-transparent: rgba(32, 45, 61, 0.5);

  --darkening-bg-image: linear-gradient(
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15)
  );

  --box-shadow-dark: 0px 9px 6px -4px rgb(70, 70, 70);
  --box-shadow-light: 0px 2px 8px 1px rgb(175, 175, 175);
}

/* ============== */
/* CSS Base */
/* ============== */
html {
  box-sizing: border-box;
}

body {
  background-color: var(--color-gray-light);
  font-family: var(--font-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/* ===================== */
/* Utility classes */
/* ===================== */
.highlight {
  color: var(--color-highlight);
}

.section {
  margin-top: 6rem;
}

/* ============= */
/* Overlay */
/* ============= */
.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-dark-transparent);
  transform: translate(-100%);
  transition: all 0.25s ease-in-out;
}

/* ======================== */
/* Sidebar Navigation */
/* ======================== */
.sidebar-navigation {
  min-height: 100vh;
  background-color: var(--flights-primary);
  transform: translate(-100%);
  transition: transform 0.5s ease-out;
  min-width: max-content;
}

.sidebar-navigation ul a:visited,
.sidebar-navigation ul a:link {
  gap: 1.6rem;
  color: var(--color-white);
}

.sidebar-navigation ul a:hover,
.sidebar-navigation ul a:active {
  background-color: var(--flights-secondary);
}

.sidebar-navigation ul a i {
  flex: 0 0 1rem;
}

.sidebar-navigation-scrolling {
  background-color: var(--color-gray-light);
  color: var(--flights-primary);
}

/* ===================== */
/* Dynamic Classes */
/* ===================== */
.sidebar-navigation-visible {
  transform: translate(0);
}

.navigation-highlight {
  background-color: var(--flights-primary);
}

.overlay-visible {
  transform: translate(0);
  z-index: 2;
}

/* ============ */
/* Header */
/* ============ */
header {
  min-height: 100vh;
  background-image: url("../assets/images/background-image-flights-large.jpg");
  background-size: cover;
  background-position: center;
}

header #nav {
  transition: all 0.25s ease-in-out;
}

header #nav .logo-container {
  max-width: 16rem;
}

header #nav .hamburger-btn {
  background-color: transparent;
  border: none;
  outline: none;
}

header #nav .hamburger-btn {
  transition: background-color 0.25s linear;
}

header #nav .hamburger-btn:hover {
  background-color: var(--flights-primary);
}

header #nav .left-navigation {
  gap: 1rem;
}

header #nav .right-navigation ul {
  gap: 1rem;
}

header #nav .right-navigation li i {
  transition: color 0.25s linear;
}

header #nav .right-navigation li i:hover {
  color: var(--color-highlight);
}

header .header-main-content-nav a {
  background-color: var(--color-gray-transparent);
  color: var(--color-white);
  letter-spacing: 1.05;
}

/* Style each header main navigation links according to each feature color palette */
header .header-main-content-nav .flights-link.active,
header .header-main-content-nav .flights-link:hover {
  background-color: var(--color-white);
  color: var(--color-flights-highlight);
}
header .header-main-content-nav .stays-link.active,
header .header-main-content-nav .stays-link:hover {
  background-color: var(--color-white);
  color: var(--stays-secondary);
}
header .header-main-content-nav .cars-link.active,
header .header-main-content-nav .cars-link:hover {
  background-color: var(--color-white);
  color: var(--cars-secondary);
}
header .header-main-content-nav .attractions-link.active,
header .header-main-content-nav .attractions-link:hover {
  background-color: var(--color-white);
  color: var(--attractions-secondary);
}

header #flights-search-form .dropdown-inputs-container {
  gap: 0.8rem;
}

header #flights-search-form .persons-selection,
header #flights-search-form .flights-class-selection {
  background-color: var(--color-white);
  z-index: 3;
  top: 105%;
  transform: translateY(10%);
}

header #flights-search-form .persons-selection {
  width: 30%;
  gap: 1.4rem;
}

header #flights-search-form .flights-class-selection {
  left: 40%;
  gap: 1rem;
}

header #flights-search-form .flights-class-selection .flight-class-btn {
  color: var(--flights-secondary);
}

header #flights-search-form .flights-class-selection .flight-class-btn:hover {
  background-color: var(--color-gray-light);
}

header #flights-search-form .selection-number {
  gap: 1rem;
}

header #flights-search-form .selection-decrease-btn,
header #flights-search-form .selection-increase-btn {
  height: 100%;
  width: 3rem;
  color: var(--flights-secondary);
}

header #flights-search-form .selection-decrease-btn:hover,
header #flights-search-form .selection-increase-btn:hover {
  background-color: var(--color-gray-light);
}

header #flights-search-form .dropdown-btn {
  transition: all 0.25s linear;
  color: var(--color-white);
  letter-spacing: 1.05;
}

header #flights-search-form .dropdown-btn:hover {
  color: var(--flights-primary);
  background-color: var(--color-white);
}

header #flights-search-form .inputs-container {
  display: grid;
  grid-template-areas: "locations locations date date search";
  gap: 1.2rem;
}

header #flights-search-form .location-inputs-wrapper {
  grid-area: locations;
}
header #flights-search-form .dates-wrapper {
  grid-area: date;
}

header #flights-search-form .inputs-container .search-button {
  grid-area: search;
  height: 3rem;
  background-color: var(--color-highlight);
  color: var(--color-white);
  transition: all 0.25s linear;
  box-shadow: var(--box-shadow-dark);
}

header #flights-search-form .inputs-container .search-button:hover,
header #flights-search-form .inputs-container .search-button:active {
  background-color: var(--color-white);
  color: var(--color-highlight);
}

header #flights-search-form .departure-location-wrapper,
header #flights-search-form .arrival-location-wrapper,
header #flights-search-form .departure-date-wrapper,
header #flights-search-form .return-date-wrapper {
  flex: 0 1 50%;
}

/* Style each input wrapper to ensure the icon fits beside the input and display a smooth visual appearance */
header #flights-search-form .input-wrapper {
  background-color: var(--color-gray-light);
  min-height: 3rem;
  gap: 0.8rem;
  box-shadow: var(--box-shadow-dark);
}

header #flights-search-form .input-wrapper i {
  color: var(--flights-secondary);
  width: 1.3rem;
}

header #flights-search-form .input-wrapper input {
  background-color: transparent;
  color: var(--color-dark-2);
}

header #flights-search-form .input-wrapper input:focus {
  outline: none;
}

header #flights-search-form .input-wrapper input::placeholder {
  color: var(--flights-secondary);
  font-size: 0.9rem;
}

header #flights-search-form .input-wrapper .locations-reverse-button {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  right: 0;
  transform: translate(50%);
  transition: background-color 0.25s linear;
}

header #flights-search-form .input-wrapper .locations-reverse-button:hover {
  background-color: var(--color-white);
}

/* ========== */
/* Main */
/* ========== */
main #introduction-section h1,
main #introduction-section h2,
main #best-destinations-section h1,
main #seasonal-destination-section h1,
main #seasonal-destination-section .card h2 {
  color: var(--flights-primary);
}

main #introduction-section .card,
main #best-destinations-section .card,
main #seasonal-destination-section .card {
  box-shadow: var(--box-shadow-light);
}

main #introduction-section .card .card-text {
  color: var(--flights-secondary);
}

main #best-destinations-section .card .destinations-features-links {
  width: 70%;
  gap: 1rem;
  right: 0;
  bottom: 15%;
  background-color: var(--color-hightlight-transparent);
}

main #best-destinations-section .card .destinations-features-links a {
  transition: color 0.25s linear;
}
main #best-destinations-section .card .destinations-features-links a:visited,
main #best-destinations-section .card .destinations-features-links a:link {
  color: var(--color-white);
}
main #best-destinations-section .card .destinations-features-links a:hover,
main #best-destinations-section .card .destinations-features-links a:active {
  color: var(--flights-primary);
}

main #seasonal-destination-section .card img {
  max-height: 24rem;
}

main #seasonal-destination-section .card .card-body > * {
  flex: 1 1 50%;
}

main #seasonal-destination-section .card .card-body p {
  color: var(--flights-secondary);
}

main #seasonal-destination-section .card .book-btn:link,
main #seasonal-destination-section .card .book-btn:visited {
  border: 3px solid var(--color-highlight);
  color: var(--color-highlight);
}
main #seasonal-destination-section .card .book-btn:hover,
main #seasonal-destination-section .card .book-btn:active {
  background-color: var(--color-highlight);
  color: var(--color-white);
}

/* ============ */
/* Footer */
/* ============ */
footer {
  background-color: var(--flights-secondary);
  margin-top: 8rem;
}

footer .quick-links a,
footer .social-media-links a {
  transition: color 0.25s linear;
}

footer .social-media-links {
  gap: 1rem;
}

footer .quick-links a:link,
footer .quick-links a:visited,
footer .social-media-links a:link,
footer .social-media-links a:visited {
  color: var(--color-white);
}
footer .quick-links a:hover,
footer .quick-links a:active,
footer .social-media-links a:hover,
footer .social-media-links a:active {
  color: var(--color-gray);
}

/* =================== */
/* Media Queries */
/* =================== */
@media only screen and (max-width: 1400px) {
  header #flights-search-form .inputs-container {
    gap: 0.8rem;
  }
}

@media only screen and (max-width: 1200px) {
  header #nav .logo-container {
    max-width: 14rem;
  }

  header #flights-search-form .inputs-container {
    grid-template-areas:
      "locations locations locations locations"
      "date date date date"
      ". search search .";
    grid-auto-columns: 1fr;
    gap: 1rem;
  }

  header #flights-search-form .inputs-container .search-button {
    margin-top: 0.8rem;
  }
}

@media only screen and (max-width: 992px) {
  header #nav .logo-container {
    max-width: 12rem;
  }

  header #flights-search-form .persons-selection,
  header #flights-search-form .flight-class-selection {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  header #flights-search-form .inputs-container {
    grid-template-areas:
      "locations"
      "date"
      "search";
    gap: 1rem;
  }

  header #flights-search-form .persons-selection,
  header #flights-search-form .flight-class-selection {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .sidebar-navigation {
    min-width: 100%;
  }

  .overlay {
    display: none;
  }

  header {
    background-image: var(--darkening-bg-image),
      url("../assets/images/background-image-flights-small.jpg");
  }

  header #nav .logo-container img {
    height: 2rem;
  }

  header #flights-search-form .dropdown-inputs-container {
    flex-direction: column;
  }

  header #flights-search-form .input-wrapper {
    min-height: 2.6rem;
    border-radius: 0.5rem;
  }

  header #flights-search-form .location-inputs-wrapper,
  header #flights-search-form .dates-wrapper {
    flex-direction: column;
    gap: 0.6rem;
  }

  header #flights-search-form .input-wrapper .locations-reverse-button {
    right: 1rem;
    transform: none;
  }
}
